body{
    background-image: url(./img/fondo.jpg);
}

.header__h1{
    color:white;
    text-align: center;

}

.main__img{
    display: block;
    margin: auto;
}

.section__index{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.section__button{
    background-color: rgb(190, 34, 34);
    width: 100px;
    height: 50px;
    border-radius: 8px;
   
    
}

a{text-decoration: none;
    font-size: large;
color:azure}